
# Used by Wrangler in local development
# In production, these should be set as Cloudflare Worker Secrets.

BETTER_AUTH_URL=http://localhost:8787
BETTER_AUTH_SECRET=
DATABASE_URL=postgresql://neondb_owner:npg_D4JS
SENTRY_DSN=https://469036398e5738474016
RESEND_API_KEY=re_123456789
RESEND_FROM_EMAIL=noreply@gaara.lol